body {
  font-family: 'Poiret One', cursive;
  padding-top: 8em;
  background: url('/images/home_page.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white!important;
}

html {
  font-family: 'Poiret One', cursive;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Poiret One', cursive!important;
}

nav {
  border-bottom: solid 2px white;
  background-color: rgba(43,43,43,.75)!important;
  font-family: 'Poiret One', cursive;
}

.inline {
  display: inline-block;
}

.inactive {
  display: none;
}

ul li {
  display: inline-block;
  margin: 1.7em 0;
  font-size:1.2em;
}

li a {
  color: black;
  padding: 1em;
  font-size: 1.5em;
  color: white;
}

li a:hover {
  color: white;
}

.index_inner img {
  margin-left: 1em;
}

.index_icons i {
  padding: 0 .5em;
  font-size: 9.5em;
  color: white;
}

#bio {
  margin: 3.3em 20em;
  background: rgba(45,45,45,.9);
  border-radius: 10px;
  font-family: 'Poiret One', cursive;
}

.bio_inner {
  padding: 3em;
}

.media_nav h2 {
  padding: 1em 2em;
  cursor: pointer;
}

.main_content_section h3 {
  padding-top: 1em;
}

.image_gallery {
  margin: 2em 15em;
}

.images_box {
  background: rgba(171,171,171,.9);
  border-radius: 5px;
  border: solid 1px black;
}

.image_gallery img {
  height: 325px;
  width: 325px;
  display: inline-block;
  border-radius: 25px!important;
  padding: 2em;
}

.production_inner {
  margin: 2em;
}

.rare_percussion img {
  height: 700px;
  width: 700px;
}
