body {
  font-family: 'Poiret One', cursive;
  padding-top: 8em;
  background: url('/images/home_page.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fcf5eb!important;
  font-family: 'Droid Sans', sans-serif!important;
}

html {
  font-family: 'Droid Sans', sans-serif!important;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Droid Sans', sans-serif!important;
}

nav {
  border-bottom: solid 2px white;
  background-color: rgba(43,43,43,.75)!important;
  font-family: 'Droid Sans', sans-serif!important;
}

.navbar-fixed-top {
  display: none;
}

a {
  color: white!important;
}

i {
  color: white;
}

.inline {
  display: inline-block;
}

.inactive {
  display: none;
}

ul li {
  display: inline-block;
  margin: 1.7em 0;
  font-size:1.2em;
}

li a {
  color: black;
  padding: 1em;
  font-size: 1.5em;
  color: white;
}

li a:hover {
  color: white;
}

#index_page {
  /*display: none;*/
}

#hero {
  width: 100%;
  text-align: center;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('/images/index_page_image.jpg') no-repeat;
  background-size: cover;
}

.continue {
  margin-top: 40%;
}

.index_inner img {
  width: 800px;
  height: 480px;
  margin: 3em;
  border-radius: 10px;
}

.index_icons i {
  padding: 0 .5em;
  font-size: 8em;
  color: white;
}

#bio {
  margin: 3.3em 20em;
  background: rgba(45,45,45,.9);
  border-radius: 10px;
}

.bio_inner {
  padding: 3em;
}



.media_nav h2 {
  margin: 1em 1em 0 1em;
  padding: 1em 2em;
  cursor: pointer;
  background: rgba(45,45,45,.9);
  border: 1px solid white;
  border-radius: 20px;
}

.main_content_section h3 {
  padding-top: 1em;
}

.image_gallery {
  margin: 2em 15em;
}

.images_box {
  background: rgba(45,45,45,.8);
  border-radius: 5px;
  border: solid 1px white;
}

.image_gallery img {
  height: 250px;
  width: 250px;
  display: inline-block;
  border-radius: 15px!important;
  margin: 1em .5em;
  border: 1px solid white;
}

.production_inner {
  margin: 2em 10em;
}

.soundclouds a {
  color: white;
}

.soundclouds a:hover {
  color: white;
}

.rare_percussion img {
  height: 700px;
  width: 700px;
}

.contact {
  background: rgba(45,45,45,.9);
  border-radius: 10px;
  margin: 5em 21em 0 21em;
  border: 1px solid white;
}

.contact h1 {
  padding: .4em 1.5em;
}
