body {
  padding-top: 8em;
  background: url('/images/home_page.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white!important;
}

nav {
  border-bottom: solid 2px white;
  background-color: rgba(43,43,43,.75)!important;
}

.inline {
  display: inline-block;
}

ul li {
  display: inline-block;
  margin: 1.7em 0;
  font-size:1.2em;
}

li a {
  color: black;
  padding: 1em;
  font-size: 1.5em;
  color: white;
}

li a:hover {
  color: white;
}

#index_body {

}

.home_page_inner {
  height: 900px;
}

.home_page_inner img {
  margin-top: 3em;
}

.home_icons {
  margin-left: 16em;
}

.home_icons i {
  display: block;
  padding: .5em;
}
